<form action="" name="FormChangePass" ng-submit="checkOldPassword()">
    <h1 class="setting-title">Change password</h1>
    <div class="line"></div>
    <div class="field-item mt-4">
        <label for="pass" class="label-input">Old password</label>
        <input type="password" name="oldpass" ng-model="OldPasswordInput" required>
    </div>
    <div class="field-item mt-4">
        <label for="pass" class="label-input">New password</label>
        <input type="password" ng-model="NewPassword" name="NewPassword" required>
        <span class="note-validate" ng-show="FormChangePass.NewPassword.$invalid && FormChangePass.NewPassword.$dirty">
            Không được bỏ trống</span>
    </div>
    <div class="field-item mt-4">
        <label for="pass" class="label-input">Confirm new password</label>
        <input type="password" ng-model="confirmPassword" name="confirmPassword" match-password="NewPassword"
            ng-required="true">
        <span class="note-validate"
            ng-show="FormChangePass.confirmPassword.$error.required && FormChangePass.confirmPassword.$dirty">Không được
            bỏ trống</span>
        <span class="note-validate" ng-show="FormChangePass.confirmPassword.$error.passwordMatch">
            Mật khẩu không đúng</span>
    </div>
    <p class="note">Make sure it's at least 15 characters OR at least 8 characters including a number and a
        lowercase letter. <a href="#" class="link-color">Learn more</a>.</p>
    <button class="button-setting text-color-gray btn-border-gray btn-gray-bg" type="submit"
       ng-disabled="!OldPasswordInput && !NewPassword && !confirmPassword">
        Update password</button>
</form>