<footer class="SiteFooter">
    <div class="SiteFooter-container">
        <ul class="SiteFooter-list">
            <li class="SiteFooter-item">Giới thiệu</li>
            <li class="SiteFooter-item"><a href="#" class="SiteFooter-link">Giới thiệu về EasyQuiz</a></li>
            <li class="SiteFooter-item"><a href="#" class="SiteFooter-link">Tuyển dụng</a></li>
            <li class="SiteFooter-item"><a href="#" class="SiteFooter-link">Quảng cáo trên EasyQuiz</a></li>
            <li class="SiteFooter-item"><a href="#" class="SiteFooter-link">Tin tức</a></li>
            <li class="SiteFooter-item"><a href="#" class="SiteFooter-link">Tải ứng dụng</a></li>
        </ul>
        <ul class="SiteFooter-list">
            <li class="SiteFooter-item">Dành cho học sinh</li>
            <li class="SiteFooter-item"><a href="#" class="SiteFooter-link">Thẻ ghi nhớ</a></li>
            <li class="SiteFooter-item"><a href="#" class="SiteFooter-link">Học</a></li>
            <li class="SiteFooter-item"><a href="#" class="SiteFooter-link">Lời giải</a></li>
            <li class="SiteFooter-item"><a href="#" class="SiteFooter-link">EasyQuiz Plus</a></li>
        </ul>
        <ul class="SiteFooter-list">
            <li class="SiteFooter-item">Dành cho giáo viên</li>
            <li class="SiteFooter-item"><a href="#" class="SiteFooter-link">Live</a></li>
            <li class="SiteFooter-item"><a href="#" class="SiteFooter-link">Cột mốc</a></li>
            <li class="SiteFooter-item"><a href="#" class="SiteFooter-link">Blog</a></li>
            <li class="SiteFooter-item"><a href="#" class="SiteFooter-link">EasyQuiz Plus cho giáo viên</a></li>
        </ul>
        <ul class="SiteFooter-list">
            <li class="SiteFooter-item">Tài nguyên</li>
            <li class="SiteFooter-item"><a href="contact.html" class="SiteFooter-link">Trung tâm hỗ trợ</a></li>
            <li class="SiteFooter-item"><a href="#" class="SiteFooter-link">Đăng ký</a></li>
            <li class="SiteFooter-item"><a href="#" class="SiteFooter-link">Quy tắc danh dự</a></li>
            <li class="SiteFooter-item"><a href="#" class="SiteFooter-link">Nguyên tắc cộng đồng</a></li>
            <li class="SiteFooter-item"><a href="#" class="SiteFooter-link">Quyền riêng tư</a></li>
            <li class="SiteFooter-item"><a href="#" class="SiteFooter-link">Điều khoản</a></li>
            <li class="SiteFooter-item"><a href="#" class="SiteFooter-link">Chính sách quảng cáo và cookie</a></li>
        </ul>
        <ul class="SiteFooter-list">
            <li class="SiteFooter-item">Ngôn ngữ</li>
            <li class="SiteFooter-item">
                <select class="language">
                    <option value="">Tiếng Việt</option>
                    <option value="">English</option>
                </select>
            </li>
        </ul>
    </div>
    <div class="SiteFooter-bottom">
        <div class="socialAndCopyright">
            <div class="social">
                <a href="" class="social-link"><i class="fa-brands fa-twitter"></i></a>
                <a href="" class="social-link"><i class="fa-brands fa-facebook"></i></a>
                <a href="" class="social-link"><i class="fa-brands fa-instagram"></i></a>
                <a href="" class="social-link"><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div class="copyright">© 2023 EasyQuiz, Inc.</div>
        </div>
        <div class="COPPA"><a href=""><img src="./assets/images/img/coppa-seal.cdf1828279fe2a1.png" alt=""></a></div>
    </div>
</footer>