<div class="card__container-image w-100">
    <img src="./assets/images/img/nguyen-dang-hoang-nhu-qDgTQOYk6B8-unsplash.jpg" alt=""
        class="card-image w-100 h-100 object-fit-cover">
    <div class="card-info">
        <div class="card-title">Chào mừng đến với website thi trắc nghiệm của chúng tôi.</div>
        <div class="card-desc">Chúng tôi cung cấp một nền tảng dễ sử dụng để tạo và chia sẻ các bài kiểm tra trực tuyến
            cho giáo viên, huấn luyện viên và các nhà quản lý học tập. </div>
        <button class="btn-call-to-action">Tạo bài kiểm tra trực tuyến ngay</button>
    </div>
</div>
<div class="prismicRich text-center">100% học sinh sử dụng EasyQuiz cho biết họ đã cải thiện được điểm số.</div>
<section class="feature">
    <div class="feature-item">
        <div class="feature-image">
            <img src="./assets/images/img/section1.avif" alt="">
        </div>
        <div class="feature-info">
            <h2 class="feature-title">Ghi nhớ nhanh hơn, miễn phí</h2>
            <p class="feature-description">Nghiên cứu cho thấy việc tự kiểm tra bằng thẻ ghi nhớ sẽ hiệu quả hơn việc
                đọc lại ghi chú của bạn. Từ toán học, y học đến ngôn ngữ hiện đại, EasyQuiz được học sinh sử dụng trong
                hơn 100 chủ đề khác nhau.</p>
            <div class="feature-btn">
                <a href="#">Bắt đầu</a>
            </div>
        </div>
    </div>
    <div class="feature-item">
        <div class="feature-image">
            <img src="./assets/images/img/section2.avif" alt="">
        </div>
        <div class="feature-info">
            <h2 class="feature-title">Thời gian đi lại hôm qua,hôm nay lại là buổi học</h2>
            <p class="feature-description">Học ở mọi nơi – ngay cả khi ngoại tuyến – với ứng dụng iOS và Android của
                chúng tôi. Tiến trình của bạn được đồng bộ hóa giữa điện thoại và máy tính.</p>
            <div class="feature-apps">
                <a href="#" class="d-inline-block me-3 mb-2"><img
                        src="./assets/images/img/google_play_vi.3793ce8d54cc4dc.png" alt=""></a>
                <a href="#" class="d-inline-block "><img src="./assets/images/img/apple_vi.fea278dc94cf6cf.png"
                        alt=""></a>
            </div>
        </div>
    </div>
    <div class="feature-item">
        <div class="feature-image">
            <img src="./assets/images/img/stock-photo-female-student-taking-notes-from-books-for-her-study-young-woman-sitting-at-table-with-books-at-510187063.jpg"
                alt="">
        </div>
        <div class="feature-info">
            <span class="EasyQuiz-plus">EasyQuiz PLUS</span>
            <h2 class="feature-title">Sẵn sàng cho ngày thi với Học và Kiểm tra</h2>
            <p class="feature-description">Biến thẻ ghi nhớ của bạn thành các bài kiểm tra thử có thể tùy chỉnh. Vượt
                qua sự ghi nhớ thông thường với các loại câu hỏi thách thức khả năng của bạn.</p>
            <div class="feature-btn">
                <a href="#">Thử miễn phí Học và Kiểm tra</a>
            </div>
        </div>
    </div>
    <div class="feature-item">
        <div class="feature-image">
            <img src="./assets/images/img/stock-photo-pride-happy-and-woman-lawyer-portrait-in-office-with-optimistic-smile-for-professional-legal-2246071669.jpg"
                alt="">
        </div>
        <div class="feature-info">
            <span class="EasyQuiz-plus">EasyQuiz PLUS</span>
            <h2 class="feature-title">Nhận trợ giúp cho bài tập về nhà với lời giải chuyên gia</h2>
            <p class="feature-description">Các lời giải chuyên gia EasyQuiz hướng dẫn cho bạn cách tiếp cận từng bước
                để giải quyết các câu hỏi khó. Tìm hàng triệu lời giải trong 64 chủ đề.</p>
            <div class="feature-btn">
                <a href="#">Khám phá lời giải miễn phí</a>
            </div>
        </div>
    </div>
</section>
<div class="prismicRich text-center">Các học sinh nói gì về EasyQuiz</div>
<div class="people-say">
    <div class="people-item">
        <img src="./assets/images/img/person3.avif" alt="">
        <div class="people-info">
            <h3>“EasyQuiz đã tiếp sức cho thành công của tôi từ khi còn học trung học. Những tấm thẻ ghi nhớ có thể dùng
                ngay khi đang di chuyển đang hỗ trợ đắc lực cho tôi ở đại học”.</h3>
            <p>Hamza, năm cuối, Y học</p>
        </div>
    </div>
    <div class="people-item">
        <img src="./assets/images/img/person2.avif" alt="">
        <div class="people-info">
            <h3>“Chế độ Học là điều tuyệt vời nhất từng có từ EasyQuiz. Nó hiển thị cho bạn các thuật ngữ theo cách dễ
                ghi nhớ nhất."</h3>
            <p>Sydney, năm hai, Sinh học</p>
        </div>
    </div>
    <div class="people-item">
        <img src="./assets/images/img/person1.avif" alt="">
        <div class="people-info">
            <h3>“Tất cả bạn bè của chúng tôi đều sử dụng EasyQuiz. Đây là một cách học thú vị và chúng tôi thấy tự tin
                hơn khi chuẩn bị cho kỳ thi giữa kỳ và cuối kỳ."</h3>
            <p>Owen & Oscar, học sinh năm hai phổ thông</p>
        </div>
    </div>
</div>
<div class="teacher-item">
    <div class="teacher-info">
        <h2 class="teacher-title">GIÁO VIÊN</h2>
        <h4 class="teacher-desc">Truyền năng lượng cho học sinh của bạn</h4>
        <p class="teacher-description">Giúp các em tự tin học bất cứ nội dung nào, dù cho mục tiêu phấn đấu có là gì đi
            nữa. Sử dụng các học phần miễn phí, chế độ học và trò chơi Cột mốc trong lớp của EasyQuiz, bạn có thể ngay
            lập tức tạo ra một lớp học tương tác cao hơn. Học sinh và giáo viên có thể đăng ký và học miễn phí.</p>
        <div class="teacher-btn">
            <a href="#">Lập tài khoản miễn phí</a>
        </div>
    </div>
    <div class="teacher-image">
        <img src="./assets/images/img/teacher.avif" alt="">
    </div>
</div>