<div class="p-5 row m-0" style="background-color: #f6f7fb;">
    <div class="col-md-9 col-sm-12">
        <section class="field">
            <div class="title">Thành tựu</div>
            <div class="field-block p-5 d-flex align-items-center justify-content-between row m-0">
                <img src="https://quizlet.com/static/achievements/locked-streak-Week.svg" class="col-3" alt="">
                <div class="thanhtich col-4">
                    <h2>Hiện chưa có chuỗi nào</h2>
                    <p>Hãy học để bắt đầu chuỗi mới của bạn!</p>
                </div>
                <div class="week col-5 d-flex justify-content-between align-items-start flex-nowrap">
                    <center class="day-week d-inline-block">
                        <div class="day-name">M</div>
                        <div class="day-number">13</div>
                    </center>
                    <center class="day-week d-inline-block">
                        <div class="day-name">T</div>
                        <div class="day-number">14</div>
                    </center>
                    <center class="day-week d-inline-block">
                        <div class="day-name">W</div>
                        <div class="day-number">15</div>
                    </center>
                    <center class="day-week d-inline-block">
                        <div class="day-name">T</div>
                        <div class="day-number">16</div>
                    </center>
                    <center class="day-week d-inline-block">
                        <div class="day-name">F</div>
                        <div class="day-number">17</div>
                    </center>
                    <center class="day-week d-inline-block">
                        <div class="day-name">S</div>
                        <div class="day-number">18</div>
                    </center>
                    <center class="day-week d-inline-block">
                        <div class="day-name">S</div>
                        <div class="day-number">19</div>
                    </center>
                </div>
            </div>
        </section>
        <section class="field">
            <div class="title">Gần đây</div>
            <div class="row m-0 p-0">
                <div class="field-item col-4">
                    <div class="title">Step to Get Fonts (Roland Cut Studio)</div>
                    <div class="jargon">9 thuật ngữ</div>
                    <div class="user d-flex align-items-center">
                        <img src="https://lh3.googleusercontent.com/a-/AOh14GhF1devQ_N3sbCeeF8an-iZBFk3BqvLv-0_NEjIcg=s96-c?sz=150"
                            class="field-user-image" alt="">
                        <div class="field-user-name">huytran229</div>
                    </div>
                </div>
                <div class="field-item col-4">
                    <div class="title">Step to Get Fonts (Roland Cut Studio)</div>
                    <div class="jargon">9 thuật ngữ</div>
                    <div class="user d-flex align-items-center">
                        <img src="https://lh3.googleusercontent.com/a-/AOh14GhF1devQ_N3sbCeeF8an-iZBFk3BqvLv-0_NEjIcg=s96-c?sz=150"
                            class="field-user-image" alt="">
                        <div class="field-user-name">huytran229</div>
                    </div>
                </div>
                <div class="field-item col-4">
                    <div class="title">Step to Get Fonts (Roland Cut Studio)</div>
                    <div class="jargon">9 thuật ngữ</div>
                    <div class="user d-flex align-items-center">
                        <img src="https://lh3.googleusercontent.com/a-/AOh14GhF1devQ_N3sbCeeF8an-iZBFk3BqvLv-0_NEjIcg=s96-c?sz=150"
                            class="field-user-image" alt="">
                        <div class="field-user-name">huytran229</div>
                    </div>
                </div>
            </div>
        </section>
        <div class="col-md-3 col-sm-0"></div>
    </div>
</div>
<style>
    section.field {
        margin-bottom: 40px;
    }

    section.field>.title {
        font-size: 16px;
        margin-bottom: 24px;
        font-weight: 600;
    }

    .field-block {
        box-shadow: 0 0.125rem 0.5rem 0 #30354514;
        background-color: #fff;
        border-radius: 10px;
    }

    .thanhtich h2 {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .thanhtich p {
        font-size: 16px;
        margin: 0;
    }

    .day-name {
        color: #939bb4;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 5px;
    }

    .day-number {
        font-size: 12px;
        font-weight: 600;
    }

    .thanhtich,
    .week {
        height: 100px;
    }

    .field-item {
        padding: 18px 14px;
        box-shadow: 0 0.125rem 0.5rem 0 #30354514;
        border-radius: 10px;
        background-color: #fff;
    }

    .field-item>.title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 4px;
    }

    .field-item .jargon {
        font-size: 16px;
        font-weight: 600;
        color: #939bb4;
        margin-bottom: 20px;
    }

    .field-item .field-user-image {
        width: 24px;
        height: 24px;
        object-fit: cover;
        border-radius: 50%;
    }

    .field-item .field-user-name {
        font-size: 16px;
        font-weight: 600;
        margin-left: 10px;
    }
</style>